@using QuizApp.ViewModel.Managing
@model QuizApp.ViewModel.HelpModels.ModelAndInfo<TestingUrlViewModel>

@{
    ViewBag.Title = "Quiz";
    Layout = "~/Views/Shared/_QuizLayout.cshtml";
}

<h2>Quiz</h2>

<div>
    <h4>TestingUrlViewModel</h4>
    <hr/>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TransferModel.TestName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TransferModel.TestName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TransferModel.Interviewee)
        </dt>
           @if(Model.TransferModel.Interviewee!= null)
           {
               <dd>
                   @Html.DisplayFor(model => model.TransferModel.Interviewee)
               </dd>
           }
            else
            {
                <dd>
                @Html.EditorFor(model => model.TransferModel.Interviewee)
                </dd>
            }

        <dt>
            @Html.DisplayNameFor(model => model.TransferModel.NumberOfRuns)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TransferModel.NumberOfRuns)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TransferModel.AllowedStartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TransferModel.AllowedStartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TransferModel.AllowedEndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TransferModel.AllowedEndDate)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Start", "GetInfoAndStartTest",new { testingUrlGuid = Model.Guid})
</p>
