@using QuizApp.ViewModel.Managing
@model IEnumerable<TestViewModel>
@{
    ViewBag.Title = "Test Manager";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div clas="row">
    <h2 class="col-md-5" style="margin-top: 0px">Test Management</h2>
    @Html.ActionLink("Create new test", "CreateTest", "Test", null, new {@class = "btn btn-primary col-md-2 col-md-offset-5" })
</div>
<hr/>
<div class="form-inline row info">
    <br/>
    <div class="form-group col-md-4">
        <p>Name</p>
    </div>
    <div class="form-group col-md-4">
        <p>Description</p>
    </div>
    <div class="form-group col-md-1">
       
    </div>
    <div class="form-group col-md-1">
       
    </div>
    <div class="form-group col-md-2">
       
    </div>
</div>
<hr class="my-Line col-md-12" />
    
@foreach (TestViewModel _model in Model)
{
    <div class="form-inline row">
        <br/>
        <div class="form-group col-md-4">
            <p>@_model.Name</p>
        </div>
        <div class="form-group col-md-4">
            <p>@_model.Description</p>
        </div>
        <div class="form-group col-md-1">
            @Html.ActionLink("Edit", "UpdateTest", "Test", new {testGuid = _model.Guid}, new {@class = "btn btn-default"})
        </div>
        <div class="form-group col-md-1">
            @Html.ActionLink("Delete", "RemoveTest", "Test",new {testGuid = _model.Guid}, new { @class = "btn btn-default" })
        </div>
        <div class="form-group col-md-2">
            @Html.ActionLink("Create URL", "CreateTestingUrl", "Test", new {testGuid = _model.Guid}, new { @class = "btn btn-default" })
        </div>
    </div>
    <hr class="my-Line col-md-12" />
}