@using QuizApp.ViewModel.Managing
@model QuizApp.ViewModel.HelpModels.ModelAndInfo<TestingUrlViewModel>

@{
    ViewBag.Title = "CreateTestingUrl";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create Testing Url</h2>

@using (Html.BeginForm())
{
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        
        <div class="form-group">
            @Html.LabelFor(model => model.TransferModel.Interviewee, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TransferModel.Interviewee, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TransferModel.Interviewee, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TransferModel.NumberOfRuns, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TransferModel.NumberOfRuns, new { htmlAttributes = new { @class = "form-control your_class" } })
                @Html.ValidationMessageFor(model => model.TransferModel.NumberOfRuns, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TransferModel.AllowedStartDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TransferModel.AllowedStartDate, new { htmlAttributes = new { @class = "form-control date-time-Class" } })
                @Html.ValidationMessageFor(model => model.TransferModel.AllowedStartDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TransferModel.AllowedEndDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TransferModel.AllowedEndDate, new { htmlAttributes = new { @class = "form-control date-time-Class" } })
                @Html.ValidationMessageFor(model => model.TransferModel.AllowedEndDate, "", new { @class = "text-danger" })
            </div>
        </div>
        @Html.HiddenFor(model => model.TransferModel.TestGuid, new { Value = @Model.Guid })

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

@section Scripts
{
    <script type="text/javascript">

        const input = document.getElementsByClassName('your_class')[0];
        input.addEventListener('keypress', function (event) 
        {
            if (event.which <= 45 && event.which >= 43)
            {
                event.preventDefault();
            }
        });
    </script>
}
